@model AerolineaExpress.Models.planificados

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>planificados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_de_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_de_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_de_llegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_de_llegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantida_de_pasajeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantida_de_pasajeros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VuelosId">Editar</a> |
    <a asp-action="Index">Atras</a>
</div>
